/*
*/
 
$font-color: #666;
$mdlink-red: #dc1719;


html, body{
    font-family: 'Open Sans', sans-serif;;
    color: $font-color;
    background-color: $mdlink-red;
}

a{text-decoration: underline; color: #666;}

a.button, button[type="submit"]{
    color: white;
    background-color: $mdlink-red;
    display: block;
    padding: 10px 10px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    background: rgb(219,21,25); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(219,21,25,1) 0%, rgba(139,3,3,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(219,21,25,1)), color-stop(100%,rgba(139,3,3,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(219,21,25,1) 0%,rgba(139,3,3,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(219,21,25,1) 0%,rgba(139,3,3,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(219,21,25,1) 0%,rgba(139,3,3,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(219,21,25,1) 0%,rgba(139,3,3,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db1519', endColorstr='#8b0303',GradientType=0 ); /* IE6-9 */

}

a.button:hover, button[type="submit"]:hover{
    background-color: $mdlink-red;
}

body{
    
    
    
}

p{
    line-height: 1.8;
    font-size: 15px;
}

h1, h2, h3, h4, h5{
    font-family: 'Open Sans', sans-serif;

}

p.tiny{
    font-size: 10px;
}

td.center{
    text-align: center;
}

.form-table tr{
    td{
        vertical-align: top;
        padding: 10px 0;
    }
    
    td:first-child{
        min-width: 180px;
        width: 30%;
        text-align: right;
        font-size: 16px;
        padding-right: 20px;
        
        @media (max-width: 444px){
            min-width: 10%;
            width: 20%;
        }
        
    }
    
    td.middle{vertical-align: middle;}
    
    td.table-footer{
         @media (max-width: 454px){
            display: table-footer-group;
        }
    }
    
    
}

#content {
    
    h2, h3.year{
        color: $mdlink-red;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
    }
    
    h4{
        color: $mdlink-red;
        font-size: 28px;
        font-weight: bold;
        text-align: center; 
    }
    
    h5{
        color: #666;
        font-size: 26px;
        font-weight: bold;
        text-align: left; 
    }
    
    p{
        text-align: left;
        font-size: 18px;
    }
    p.center{
        text-align: center;

    }
    
    p.tiny{
        font-size: 10px;
    }
    
    img.full{
        width: 100%;
        margin: 20px auto 10px auto;
    }
    
    img.half{
        width: 50%;
        display: block;
        margin: 20px auto 10px auto;
    }
    
    img.original{
        max-width: 100%;
        display: block;
        margin: 20px auto 10px auto;
    }
    
    .history-map{
        width: 49.5%;
        margin-right: 1%;
        float: left;
        
        @media (max-width: 920px){
            float: none;
            width: 100%;
            margin: 10px 0;
        }
        
        .fader{
            display: none;
        }
        
        .fader:first-of-type{
            display: block;
        }
        
        h3.year{
            color: #cfcfcf;
        }
        
        h3.year:first-of-type, h3.year.permanent-red{
            color: $mdlink-red;
        }
        
        h3.year:hover{
            color: $mdlink-red;
            cursor: pointer;
        }
        
    }
    
    .agenda-invite{
        width: 49.5%;
        
        float: left;
        
        @media (max-width: 920px){
            float: none;
            width: 100%;
            margin: 10px 0;
        }
        
        .box.agenda{
            
            h3{
                text-align: left;
                color: $mdlink-red;
                display: block;
                border-bottom: 1px solid #cfcfcf;
                font-weight: bold;
                font-size: 35px;
                padding-bottom: 10px;
                margin-left: 92px;
                
            }
            
            table tr{
                
                td{
                    text-align: left;
                    
                    h4{
                        text-align: left;
                        color: #666;
                        font-size: 26px;
                        margin-top: 5px;
                    }
                    
                    p{
                        font-size: 16px;
                        font-style: italic;
                    }
                    
                    p.speaker{
                        font-style: normal;
                        font-weight: bold;
                        font-size: 14px;
                    }
                    
                }
                
                td:first-child{
                    text-align: left;
                    font-weight: bold;
                    color: #cfcfcf;
                    font-size: 26px;
                    padding-right: 25px;
                    vertical-align: top;
                }
            }
            
        }
        
    }
    
}



header{
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    height: 105px;
    background-image: url("../images/header-bg.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    overflow: hidden;
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    z-index: 100;
    
    @media (max-width: 792px){
        height: auto;
        position: static;
    }
}

#content{
    overflow: hidden;
}

.date-place{
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    
    
    
    i{
        color: #989898;
        margin-right: 5px;
    }
}

.box{
    background-color: white;
    width: 100%;
    padding: 10px 20px;
    margin-top: 15px;
}




#main-logo-box{
    padding-top: 15px;
    float: left;
    
    img{
        width: 180px;
        @media (max-width: 792px){
            width: 200px;
        }
        @media (max-width: 585px){
            width: 150px;
        }
        @media (max-width: 475px){
                 width: 120px;
        }
        
    }
    
}

#slogan-box{
    float: right;
    text-align: right;
    h1{
        margin-top: 0;
        font-style: italic;
        text-align: right;
        margin-bottom: 0;
        
        span.we-celebrate{
            font-size: 19px;
            display: block;
            margin-top: 10px;
            @media (max-width: 792px){
                font-size: 16px;
            }
            @media (max-width: 585px){
                font-size: 13px;
            }
        }
        
        span.slogan{
            font-size: 35px;
            display: block;
            text-transform: uppercase;
            font-weight: bold;
            @media (max-width: 792px){
                font-size: 30px;
            }
            @media (max-width: 585px){
                font-size: 25px;
            }
            @media (max-width: 475px){
                font-size: 16px;
            }
        }
    }
    
    h2{
        font-size: 20px;
        font-weight: bold;
        margin-top: 1px;
        font-style: italic;
        @media (max-width: 792px){
            font-size: 24px;
        }
        @media (max-width: 585px){
                font-size: 20px;
        }
        @media (max-width: 475px){
                font-size: 16px;
        }
    }
    
}

#threeslide-box{
    margin-top: 120px;
    width: 100%;
    background-color: white;
    padding: 10px;
    overflow: hidden;
    
    @media (max-width: 792px){
        margin-top: 15px;
    }

    .mask:first-child{margin-left: 0;}

    .mask{
        width: 33%;
        margin-left: 0.4%;
        float: left;
        overflow: hidden;
        position: relative;
        min-height: 400px;
        
        @media (max-width: 920px){
            float: none;
            width: 100%;
            margin: 10px 0;
        }
        
        img{
            position: absolute;
            top:0;
            left: 50%;
            margin-left: -344px;
            z-index: 0;
            width: 688px;
        }
        
        div.black-layer{
            display: table;
            vertical-align: middle;
            position: absolute;
            z-index: 1;
            background-color: rgba(0,0,0,0.20);
            width: 100%;
            height: 400px;
            padding-top: 30px;
            
            h3{
                text-align: center;
                font-weight: bold;
                font-style: italic;
                font-size: 35px;
                padding: 20px;
                color: white;
                text-shadow: 0px 0px 5px black;
            }
            
            a{
                display: table;
                margin: 40px auto;
                text-align: center;
                color: white;
                font-size: 18px;
                text-decoration: underline;
                text-shadow:  0px 0px 5px black;
            } 
        }
    }

}


#impressum{

    margin-top: 120px;
    width: 100%;
    background-color: white;
    padding: 10px;
    overflow: hidden;
    
    @media (max-width: 792px){
        margin-top: 15px;
    }
    
    h1,h2,h3{
        text-align: left;
    }
}

#datebox{
    width:100%;
    background-color: white;
    padding: 10px;
    margin-top: 15px;
    overflow: hidden;
    @media (max-width: 920px){
        float: none;
        width: 100%;
        margin: 10px 0;
    }
    
    #callendar-sign{
        float: left;
        font-size: 80px;
        margin-top: -15px;
        margin-bottom: -25px;
        margin-right: 10px;
        @media (max-width: 1125px){
            display: none;
        }
    }
    
    p{
        text-align: left;
        @media (max-width: 1125px){
            text-align: center;
        }
    }
    
    .information{ 
        float: left;
         @media (max-width: 1125px){
            float: none;
            text-align: center;
        }
        
        p{
            
            font-size: 26px;
            line-height: 1.2;
            font-weight: bold;
            font-style: italic;
        }
    }
    
    
    
    .supported-by{
        float: right;
        margin-top: 15px;
        @media (max-width: 1125px){
            float: none;
            text-align: center;
        }
        
        .ibm-logo{
            float: right;
            margin-left: 25px;
            @media (max-width: 1125px){
                float: none;
                display: block;
                margin: auto;
            }
        }
        
        p{
            float: left;
            font-size: 26px;
            line-height: 1.2;
            font-weight: bold;
            font-style: italic;
            @media (max-width: 1125px){
                float: none;
                text-align: center;
                margin-top: 15px;
                font-size: 18px;
            }
        }
    }
}

.wrapper{
    width: 98%;
    max-width: 1600px;
    margin: auto;
}

.red{color: $mdlink-red;}


footer{
    clear: both;
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    height: 80px;
    background-image: url("../images/footer-bg.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    margin-top: 15px;
    
    @media (max-width: 710px){
                height: auto;
                background-size: contain;
        }
    
    .wrapper{
        
        position: relative;
    
        #footer-logo-box{
        
            width: 150px;
            display: table;
            margin: auto;
            padding-top: 10px;
            img{
                width: 100%;
            }
        }
    
        .links{
            position: absolute;
            top:30px;
            right: 0;
            display: table;
            text-align: right;
            @media (max-width: 710px){
                position: static;
                text-align: center;
                display: block; 
                padding: 15px 0;
            }
            
            a{font-size: 18px;}
        }
    }
}

@media (max-width: 1150px){
    
    
}

@media (max-width: 792px){
    
    
}