/*
*/
html, body {
  font-family: 'Open Sans', sans-serif;
  color: #666666;
  background-color: #dc1719; }

a {
  text-decoration: underline;
  color: #666; }

a.button, button[type="submit"] {
  color: white;
  background-color: #dc1719;
  display: block;
  padding: 10px 10px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  background: #db1519;
  /* Old browsers */
  background: -moz-linear-gradient(top, #db1519 0%, #8b0303 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #db1519), color-stop(100%, #8b0303));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #db1519 0%, #8b0303 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #db1519 0%, #8b0303 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #db1519 0%, #8b0303 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #db1519 0%, #8b0303 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#db1519', endColorstr='#8b0303',GradientType=0 );
  /* IE6-9 */ }

a.button:hover, button[type="submit"]:hover {
  background-color: #dc1719; }

p {
  line-height: 1.8;
  font-size: 15px; }

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif; }

p.tiny {
  font-size: 10px; }

td.center {
  text-align: center; }

.form-table tr td {
  vertical-align: top;
  padding: 10px 0; }
.form-table tr td:first-child {
  min-width: 180px;
  width: 30%;
  text-align: right;
  font-size: 16px;
  padding-right: 20px; }
  @media (max-width: 444px) {
    .form-table tr td:first-child {
      min-width: 10%;
      width: 20%; } }
.form-table tr td.middle {
  vertical-align: middle; }
@media (max-width: 454px) {
  .form-table tr td.table-footer {
    display: table-footer-group; } }

#content h2, #content h3.year {
  color: #dc1719;
  font-size: 35px;
  font-weight: bold;
  text-align: center; }
#content h4 {
  color: #dc1719;
  font-size: 28px;
  font-weight: bold;
  text-align: center; }
#content h5 {
  color: #666;
  font-size: 26px;
  font-weight: bold;
  text-align: left; }
#content p {
  text-align: left;
  font-size: 18px; }
#content p.center {
  text-align: center; }
#content p.tiny {
  font-size: 10px; }
#content img.full {
  width: 100%;
  margin: 20px auto 10px auto; }
#content img.half {
  width: 50%;
  display: block;
  margin: 20px auto 10px auto; }
#content img.original {
  max-width: 100%;
  display: block;
  margin: 20px auto 10px auto; }
#content .history-map {
  width: 49.5%;
  margin-right: 1%;
  float: left; }
  @media (max-width: 920px) {
    #content .history-map {
      float: none;
      width: 100%;
      margin: 10px 0; } }
  #content .history-map .fader {
    display: none; }
  #content .history-map .fader:first-of-type {
    display: block; }
  #content .history-map h3.year {
    color: #cfcfcf; }
  #content .history-map h3.year:first-of-type, #content .history-map h3.year.permanent-red {
    color: #dc1719; }
  #content .history-map h3.year:hover {
    color: #dc1719;
    cursor: pointer; }
#content .agenda-invite {
  width: 49.5%;
  float: left; }
  @media (max-width: 920px) {
    #content .agenda-invite {
      float: none;
      width: 100%;
      margin: 10px 0; } }
  #content .agenda-invite .box.agenda h3 {
    text-align: left;
    color: #dc1719;
    display: block;
    border-bottom: 1px solid #cfcfcf;
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 10px;
    margin-left: 92px; }
  #content .agenda-invite .box.agenda table tr td {
    text-align: left; }
    #content .agenda-invite .box.agenda table tr td h4 {
      text-align: left;
      color: #666;
      font-size: 26px;
      margin-top: 5px; }
    #content .agenda-invite .box.agenda table tr td p {
      font-size: 16px;
      font-style: italic; }
    #content .agenda-invite .box.agenda table tr td p.speaker {
      font-style: normal;
      font-weight: bold;
      font-size: 14px; }
  #content .agenda-invite .box.agenda table tr td:first-child {
    text-align: left;
    font-weight: bold;
    color: #cfcfcf;
    font-size: 26px;
    padding-right: 25px;
    vertical-align: top; }

header {
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  height: 105px;
  background-image: url("../images/header-bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100; }
  @media (max-width: 792px) {
    header {
      height: auto;
      position: static; } }

#content {
  overflow: hidden; }

.date-place {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px; }
  .date-place i {
    color: #989898;
    margin-right: 5px; }

.box {
  background-color: white;
  width: 100%;
  padding: 10px 20px;
  margin-top: 15px; }

#main-logo-box {
  padding-top: 15px;
  float: left; }
  #main-logo-box img {
    width: 180px; }
    @media (max-width: 792px) {
      #main-logo-box img {
        width: 200px; } }
    @media (max-width: 585px) {
      #main-logo-box img {
        width: 150px; } }
    @media (max-width: 475px) {
      #main-logo-box img {
        width: 120px; } }

#slogan-box {
  float: right;
  text-align: right; }
  #slogan-box h1 {
    margin-top: 0;
    font-style: italic;
    text-align: right;
    margin-bottom: 0; }
    #slogan-box h1 span.we-celebrate {
      font-size: 19px;
      display: block;
      margin-top: 10px; }
      @media (max-width: 792px) {
        #slogan-box h1 span.we-celebrate {
          font-size: 16px; } }
      @media (max-width: 585px) {
        #slogan-box h1 span.we-celebrate {
          font-size: 13px; } }
    #slogan-box h1 span.slogan {
      font-size: 35px;
      display: block;
      text-transform: uppercase;
      font-weight: bold; }
      @media (max-width: 792px) {
        #slogan-box h1 span.slogan {
          font-size: 30px; } }
      @media (max-width: 585px) {
        #slogan-box h1 span.slogan {
          font-size: 25px; } }
      @media (max-width: 475px) {
        #slogan-box h1 span.slogan {
          font-size: 16px; } }
  #slogan-box h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 1px;
    font-style: italic; }
    @media (max-width: 792px) {
      #slogan-box h2 {
        font-size: 24px; } }
    @media (max-width: 585px) {
      #slogan-box h2 {
        font-size: 20px; } }
    @media (max-width: 475px) {
      #slogan-box h2 {
        font-size: 16px; } }

#threeslide-box {
  margin-top: 120px;
  width: 100%;
  background-color: white;
  padding: 10px;
  overflow: hidden; }
  @media (max-width: 792px) {
    #threeslide-box {
      margin-top: 15px; } }
  #threeslide-box .mask:first-child {
    margin-left: 0; }
  #threeslide-box .mask {
    width: 33%;
    margin-left: 0.4%;
    float: left;
    overflow: hidden;
    position: relative;
    min-height: 400px; }
    @media (max-width: 920px) {
      #threeslide-box .mask {
        float: none;
        width: 100%;
        margin: 10px 0; } }
    #threeslide-box .mask img {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -344px;
      z-index: 0;
      width: 688px; }
    #threeslide-box .mask div.black-layer {
      display: table;
      vertical-align: middle;
      position: absolute;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.2);
      width: 100%;
      height: 400px;
      padding-top: 30px; }
      #threeslide-box .mask div.black-layer h3 {
        text-align: center;
        font-weight: bold;
        font-style: italic;
        font-size: 35px;
        padding: 20px;
        color: white;
        text-shadow: 0px 0px 5px black; }
      #threeslide-box .mask div.black-layer a {
        display: table;
        margin: 40px auto;
        text-align: center;
        color: white;
        font-size: 18px;
        text-decoration: underline;
        text-shadow: 0px 0px 5px black; }

#impressum {
  margin-top: 120px;
  width: 100%;
  background-color: white;
  padding: 10px;
  overflow: hidden; }
  @media (max-width: 792px) {
    #impressum {
      margin-top: 15px; } }
  #impressum h1, #impressum h2, #impressum h3 {
    text-align: left; }

#datebox {
  width: 100%;
  background-color: white;
  padding: 10px;
  margin-top: 15px;
  overflow: hidden; }
  @media (max-width: 920px) {
    #datebox {
      float: none;
      width: 100%;
      margin: 10px 0; } }
  #datebox #callendar-sign {
    float: left;
    font-size: 80px;
    margin-top: -15px;
    margin-bottom: -25px;
    margin-right: 10px; }
    @media (max-width: 1125px) {
      #datebox #callendar-sign {
        display: none; } }
  #datebox p {
    text-align: left; }
    @media (max-width: 1125px) {
      #datebox p {
        text-align: center; } }
  #datebox .information {
    float: left; }
    @media (max-width: 1125px) {
      #datebox .information {
        float: none;
        text-align: center; } }
    #datebox .information p {
      font-size: 26px;
      line-height: 1.2;
      font-weight: bold;
      font-style: italic; }
  #datebox .supported-by {
    float: right;
    margin-top: 15px; }
    @media (max-width: 1125px) {
      #datebox .supported-by {
        float: none;
        text-align: center; } }
    #datebox .supported-by .ibm-logo {
      float: right;
      margin-left: 25px; }
      @media (max-width: 1125px) {
        #datebox .supported-by .ibm-logo {
          float: none;
          display: block;
          margin: auto; } }
    #datebox .supported-by p {
      float: left;
      font-size: 26px;
      line-height: 1.2;
      font-weight: bold;
      font-style: italic; }
      @media (max-width: 1125px) {
        #datebox .supported-by p {
          float: none;
          text-align: center;
          margin-top: 15px;
          font-size: 18px; } }

.wrapper {
  width: 98%;
  max-width: 1600px;
  margin: auto; }

.red {
  color: #dc1719; }

footer {
  clear: both;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  height: 80px;
  background-image: url("../images/footer-bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  margin-top: 15px; }
  @media (max-width: 710px) {
    footer {
      height: auto;
      background-size: contain; } }
  footer .wrapper {
    position: relative; }
    footer .wrapper #footer-logo-box {
      width: 150px;
      display: table;
      margin: auto;
      padding-top: 10px; }
      footer .wrapper #footer-logo-box img {
        width: 100%; }
    footer .wrapper .links {
      position: absolute;
      top: 30px;
      right: 0;
      display: table;
      text-align: right; }
      @media (max-width: 710px) {
        footer .wrapper .links {
          position: static;
          text-align: center;
          display: block;
          padding: 15px 0; } }
      footer .wrapper .links a {
        font-size: 18px; }
